.feauturesIntro {
  padding: 6rem;
}

.feauturesIntro img {
  max-height: 30rem;
}

.feauturesIntroButtons .button{
  margin-right: 2rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--ifm-color-primary);
}

.feauturesAllInfo {
  justify-content: space-evenly;
  padding: 6rem;
}

@media (max-width: 768px) {
  .feauturesAllInfo,
  .feauturesIntro {
    padding: 4rem 2rem;
  }
}

.feauturesAllInfoText {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.feauturesAllInfo img {
  max-height: 20rem;
}

.feauturesBox {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly; 
}

.featureElement {
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 2rem;
  /* width: 30%; */
}

.feauturesNeedMore {
  text-align: center;
}

.feauturesAllInfoText span,
.feauturesNeedMore span {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

@media (max-width: 1110px) {
  .feauturesIntro img {
    max-height: 20rem;
  }

  .feauturesAllInfo img {
    max-height: 15rem;
  }
}

@media (max-width: 768px) {
  .feauturesBox {
    grid-template-columns: 100%;
  }

  .featureElement {
    width: 100%;
    padding: 1.5rem;
  }
}
