.feauturesIntro {
  padding: 6rem;
}

.feauturesIntro img {
  max-height: 30rem;
}

.feauturesIntroButtons .button{
  margin-right: 2rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--ifm-color-primary);
}

.feauturesAllInfo {
  justify-content: space-evenly;
  padding: 6rem;
}

@media (max-width: 768px) {
  .feauturesAllInfo,
  .feauturesIntro {
    padding: 4rem 2rem;
  }
}

.feauturesAllInfoText {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.feauturesAllInfo img {
  max-height: 20rem;
}

.feauturesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.featureElement {
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 30%;
}

@media (max-width: 768px) {
  .featureElement {
    width: 100%;
    padding: 1.5rem;

  }
}

.feauturesNeedMore {
  text-align: center;
}
