.phishingQuizzesEducation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.phishingTextIntro {
  justify-content: space-between;
  padding-bottom: 40px;
}

.phishingQuizzesEducationText {
  width: 50%;
}

.phishingQuizzessEducationDesktopImage {
  height: 320px;
  border-radius: 25px;
}

.phishingQuizzessEducationMobileImage {
  display: none;
  height: auto;
  max-height: 400px;
  border-radius: 25px;
}

.phishingQuizzesEducation h1 {
  width: 40%;
}

@media (max-width: 768px) {
  .phishingQuizzesEducation {
    padding: 4rem 2rem;
  }

  .phishingQuizzesEducationText {
    width: 100%;
  }

  .phishingQuizzesEducation h1 {
    width: 100%;
  }

  .phishingQuizzessEducationDesktopImage {
    display: none;
  }

  .phishingQuizzessEducationMobileImage {
    display: block;
  }
}


.iframeWrapper {
  display: flex;
  justify-content: space-around;
}

.phishingProblem {
  justify-content: center;
  padding: 10rem; 
}

@media (max-width: 768px) {
  .phishingProblem {
    padding: 4rem 2rem;
  }
}

.alignedCenter {
  display: flex;
  justify-content: center;  
}

.phishingQuizzes span {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}