.phishingQuizzesEducation {
  justify-content: center;
  padding: 6rem;
}

.phishingTextIntro {
  justify-content: space-between;
}

.phishingQuizzesEducationText {
  width: 50%;
}

.phishingQuizzesEducation img {
  height: 320px;
  border-radius: 25px;

}

.phishingQuizzesEducation h1 {
  width: 40%;
}

@media (max-width: 768px) {
  .phishingQuizzesEducationText {
    width: 100%;
  }

  .phishingQuizzesEducation h1 {
  width: 100%;
  }
}


.iframeWrapper {
  display: flex;
  justify-content: space-around;
}

.phishingProblem {
  justify-content: center;
  padding: 10rem; 
}

@media (max-width: 768px) {
  .phishingProblem {
    padding: 4rem 2rem;
  }
}

.alignedCenter {
  display: flex;
  justify-content: center;  
}