
.pricingIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .pricingIntro {
    text-align: center;
  }

  .plan {
    text-align: left;
  }
}

.plans a {
  margin-top: inherit;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: inherit;
}


.plans {
  justify-content: space-evenly;
}

.plans h4 {
  font-size: 1rem;
  font-weight: 600;
}

.plans h3, 
.plans h4 {
    margin-top: 2rem;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

.plan {
  border: 1px solid var(--ifm-color-primary-darkest);
  box-shadow: 1px 1px var(--ifm-color-primary-darkest);
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 30%;
  min-width: 300px;
}

.pricingRow {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}

@media (max-width: 1110px) {
  .pricingRow {
    flex-direction: column;
    text-align: center;
 
  }

  .plan {
    width: 100%;
  }
}

.plan h2 { 
  margin-top: 0;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
  line-height: normal;
}

.plan ul { 
  list-style: none; 
  padding-left: 0; 
}

.plan li { 
  margin: 0.5rem 0; 
}

.plan .note {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}