
.princingIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plans {
  justify-content: space-evenly;
}

.plans h4 {
  font-size: 1rem;
  font-weight: 600;
}

.plan {
  border: 1px solid var(--ifm-color-primary-darkest);
  box-shadow: 1px 1px var(--ifm-color-primary-darkest);
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 30%;
}

@media (max-width: 768px) {
  .plan {
    width: 100%;
  }
}

.plan h2 { 
  margin-top: 0;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.plan ul { 
  list-style: none; 
  padding-left: 0; 
}

.plan li { 
  margin: 0.5rem 0; 
}

.plan .note {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
