/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #3f6a3a;
    --ifm-button-background-color: var(--ifm-color-primary);
    --ifm-navbar-link-color: var(--ifm-color-primary-light);
    --ifm-color-primary-dark: #264d22;
    --ifm-color-primary-darker: #5f6368;
    --ifm-color-primary-darkest: #333030;
    --ifm-color-primary-light: #f3f9cf;
    --ifm-color-primary-lighter: #f3f5e4;
    --ifm-color-primary-lightest: #ffffff;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: #0000001a;
    --ifm-navbar-link-color: var(--ifm-color-darkest);
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-footer-background-color: #333030;
    --ifm-footer-color: var(--ifm-color-primary-lightest);
    --ifm-footer-link-color: var(--ifm-color-primary-light) !important;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dbe3a3;
  --ifm-button-background-color: #dbe3a3;
  --ifm-color-primary-dark: #f3f9cf;
  --ifm-color-primary-darker: #f3f5e4;
  --ifm-color-primary-darkest: #ffffff;
  --ifm-color-primary-light: #264d22;
  --ifm-color-primary-lighter: #5f6368;
  --ifm-color-primary-lightest: #333030;
  --ifm-background-color: #333030;
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: var(--ifm-color-primary-darker);
  --ifm-footer-color: var(--ifm-color-primary-darker);
  --ifm-footer-link-color: var(--ifm-color-primary-darkest) !important;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.15px;
  unicode-bidi: isolate;
}

.button {
  transition: all .1s ease;
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1rem;

  &:hover {
    outline: none;
  }
  
  &:active {
    transform: translateY(1px);
  }
  
  &:focus {
    outline: none;
  }

}

h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}


h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  letter-spacing: -0.002rem;

}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }
}

section {
  padding: 4rem 2rem;
  width: 100%;
}

.sectionMaxWidth {
  max-width: 1300px; 
}

.sectionContainer {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media (max-width: 768px) {
  .sectionContainerMobileWrap {
    flex-wrap: wrap;
  }

  .sectionContainerMobileReverseWrap {
    flex-wrap: wrap-reverse;
  }
}


.buttonLight {
  @extend .button;
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-color-primary);
}

.buttonDark {
  @extend .button;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-lightest);
}

.backgroundDark {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-lightest);
}

.backgroundLight {  
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-darkest);

}

.center {
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.shira-doc-cards p.text--truncate {
  white-space: wrap;
}

[data-theme='light'] .navbar .button{
  @extend .buttonDark;
}

[data-theme='dark'] .navbar .button{
  @extend .buttonLight;
}


[data-theme='light'] footer a {
  color: var(--ifm-color-primary-light);
}
