/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #587a3f; /*Green dark*/
  --ifm-color-primary-dark: #4f6e39;
  --ifm-color-primary-darker: #111827;
  --ifm-color-primary-darkest: #333030;
  --ifm-color-primary-light: #e6ecb9;
  --ifm-color-primary-lighter: #658c48;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
  --ifm-navbar-link-color: var(--ifm-color-darkest);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: var(--ifm-color-darkest);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e6ecb9; /*Green light*/
  --ifm-color-primary-dark: #587a3f;
  --ifm-color-primary-darker: #d4df87;
  --ifm-color-primary-darkest: #e6ecb9;
  --ifm-color-primary-light: #587a3f;
  --ifm-color-primary-lighter: #f8f9eb;
  --ifm-color-primary-lightest: #313638;
  --ifm-navbar-link-color: var(--ifm-color-darkest);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: var(--ifm-color-darkest);
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: var(--ifm-color-primary-darkest);
  letter-spacing: 1.15px;
  unicode-bidi: isolate;
}

.button {
  transition: all .1s ease;
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1rem;

  &:hover {
    outline: none;
  }
  
  &:active {
    transform: translateY(1px);
  }
  
  &:focus {
    outline: none;
  }

}

h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }
}

section {
  padding: 4rem 2rem;
  width: 100%;
}

.buttonLight {
  @extend .button;
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-color-primary);
}

.buttonDark {
  @extend .button;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-lightest);
}

.backgroundDark {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-lightest);
}

.backgroundLight {  
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-darkest);

}

.center {
  align-items: center;
}

.bold {
  font-weight: bold;
}
