.navbar {
  justify-content: center;
  min-height: 5rem;

}

.navbar__inner {
  max-width: 1300px;
}

.button {
  transition: all .1s ease;
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;

  &:active {
    transform: translateY(1px);
  }
  
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-lightest);

}

.navbar a:active {
  color: var(--ifm-navbar-link-active-color);
}
